@blue: #00d0ff;
@blue-shade1: #00deff;
@blue-shade2: #00a0da;
@blue-accent: #f0feff;
@yellow: #ffe;
@tiny: .5rem;
@small: 1rem;
@medium: 1.5rem;
@larger: 2rem;
@large: 2.25rem;
@big : 3rem;

body, html {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

.container-fluid.lg {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    font-size: @medium;
}

.clear {
    ::after {
        content: '';
        display: block;
        clear: both;
    }
}

span.plus {
    display: block;
    float: left;
    clear: right;
    width: @large;
    height: @large;
    background-image: url('./glyphicons/glyphicons-basic-371-plus.svg');
}

.back {
    font-size: @large;
    line-height: @large;
    cursor: pointer;

    span {
        display: block;
        float: left;
        clear: right;

        &.arrow {
            width: @large;
            height: @large;
            background-image: url('./glyphicons/glyphicons-basic-885-step-back.svg');
        }

        &.label {
            font-size: @large;
        }
    }
}

.checkbox {
    display: block;
    float: left;
    clear: right;
    width: @large;
    height: @large;
    background-image: url('./glyphicons/glyphicons-basic-153-square-checkbox.svg');

    &.empty {
        background-image: url('./glyphicons/glyphicons-basic-154-square-empty.svg');
    }
}

.noselect, .noselect * {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
 
.autocomplete {
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.autocomplete-items {
    > div {
        cursor: pointer;

        &:hover, &.active {
            background-color: @blue-accent;
        }
    }
}

.range-input {
    padding-right: 5px;

    ul {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        list-style: none;
        display: flex;
        padding: 0;
        width: 100%;

        li {
            display: inline-block;
            white-space: nowrap;
            padding: 0 5px;
            width: 60px;
            text-align: center;
        }
    }
    .input-container {
        width: 100%;
        padding: 0 25px;

        input { 
            -webkit-appearance: none;
            -moz-appearance: none;
            height: 5px;
            width: 100%;
        }

          input[type=range]:focus {
            outline: none;
          }
          input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 10px;
            cursor: pointer;
            background: @blue-shade2;
            border-radius: 5px;
          }
          input[type=range]::-webkit-slider-thumb {
            height: 25px;
            width: 25px;
            border-radius: 15px;
            background: @blue-shade2;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -8.5px;
          }
          input[type=range]:focus::-webkit-slider-runnable-track {
            background: @blue-shade2;
          }
          input[type=range]::-moz-range-track {
            width: 100%;
            height: 10px;
            cursor: pointer;
            background: @blue-shade2;
            border-radius: 5px;
          }
          input[type=range]::-moz-range-thumb {
            height: 25px;
            width: 25px;
            border-radius: 15px;
            background: @blue-shade2;
            cursor: pointer;
          }
          input[type=range]::-ms-track {
            width: 100%;
            height: 10px;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            color: transparent;
          }
          input[type=range]::-ms-fill-lower {
            background: @blue-shade2;
            border: 1px solid #000000;
            border-radius: 10px;
            box-shadow: 1px 1px 1px #000000;
          }
          input[type=range]::-ms-fill-upper {
            background: @blue-shade2;
            border: 1px solid #000000;
            border-radius: 10px;
            box-shadow: 1px 1px 1px #000000;
          }
          input[type=range]::-ms-thumb {
            margin-top: 1px;
            box-shadow: 1px 1px 1px #000000;
            border: 1px solid #000000;
            height: 25px;
            width: 25px;
            border-radius: 15px;
            background: @blue-shade2;
            cursor: pointer;
          }
          input[type=range]:focus::-ms-fill-lower {
            background: @blue-shade2;
          }
          input[type=range]:focus::-ms-fill-upper {
            background: @blue-shade2;
          }
    }
}

.link-btn {
    cursor: pointer;
    background-color: @blue-shade2;
    color: white;
    border: 2px solid @blue-shade2;
    margin: 0;
    padding: @tiny @medium;
    float: right;
    font-weight: 600;
    font-size: @medium;

    .plus {
        filter: invert(99%) sepia(5%) saturate(0%) hue-rotate(287deg) brightness(113%) contrast(100%);
        margin-left: -10px;
        padding-right: 10px;
    }

    &:hover {
        background-color: @blue-accent;
        color: @blue-shade2;

        .plus {
            filter: invert(48%) sepia(87%) saturate(3375%) hue-rotate(167deg) brightness(98%) contrast(101%);
        }
    }
}

form {
    .field {
        display: block;
        margin-bottom: @medium;

        .label {
            display: block;
        }
    }

    input[type=submit] {
        cursor: pointer;
        background-color: @blue-shade2;
        color: white;
        border: none;
        margin: 0;
        padding: @tiny @medium;
    }
}
.App {
  
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//     height: 80px;
//   }
  
    header {
    //background-color: #00d0ff;
    background: linear-gradient(90deg, @blue, @blue-shade1 50%, @blue-shade2);
    background: webkit-linear-gradient(90deg, @blue, @blue-shade1 50%, @blue-shade2);
    padding: @medium;
    margin-bottom: @medium;
    color: white;

        .logo {
            float: left;

            h1 {
                font-size: @large;
                margin: 0;
                padding-bottom: 0;
            }
        }

        .account-link {
            float: right;
            font-size: @larger;
            line-height: @larger;
        }

        .login {
            float: right;
            font-size: @larger;
            line-height: @larger;
        }

        a {
            color: white;
            text-decoration: none;
        }
    }

    .search-page {
        .search-categories {
            h1 {
                font-size: @large;
                padding-bottom: @medium;
            }
            
            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    font-size: @large;
                    line-height: @large;
                    padding: @small 0 @small 0;
                    cursor: pointer;

                    span {
                        margin-left: @small;
                        clear: right;
                    }

                    &:hover {
                        background-color: @blue-accent;
                    }
                }
            }
        }

        .search-options {
            padding: 0 0 @small 0;

            .option-btn {
                position: relative;
                float: left;
                font-size: @medium;
                font-weight: 600;
                color: @blue-shade2;

                .label-btn {
                    cursor: pointer;
                    padding: @tiny @larger;
                    border-radius: 3px;
                    border: 2px solid @blue-shade2;
                    
                    &:hover {
                        background-color: @blue-accent;
                    }
                }

                .btn-options {
                    position: absolute;
                    padding: @small @medium;
                    margin-top: @tiny;
                    background-color: white;
                    border: 1px solid @blue-shade2;

                    > div {
                        margin-top: @small;

                        span {
                            display: block;
                        }
                    }

                    > div:first-child {
                        margin-top: 0;
                    }

                    button {
                        cursor: pointer;
                        background-color: @blue-shade2;
                        color: white;
                        border: none;
                        margin-top: @small;
                        padding: @tiny @medium;
                        float: right;
                    }
                }

                &.active {
                    .label-btn {
                        background-color: @blue-accent;
                    }
                }
            }

            .distance {
                margin-right: @larger;
            }

            // .location {
                
            // }
        }

        .search-body {
            font-size: @medium;
            padding: @small 0;

            .search-result {
                cursor: pointer;
                padding-bottom: @small;
                
                p, h2 {
                    margin-bottom: 0;
                }

                &:hover {
                    background-color: @yellow;
                }
            }
        }
    }

    .post-page {
        input, textarea {
            width: 100%;
        }
    }

    @keyframes App-logo-spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }
}